:root {
  --background-primary: #2B2D42;
  --background-secondary: #8D99AE;
  --text-primary: #EDF2F3;
  --text-hover: #EF233C;
  --secondary-hover: #D90429;
}


* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}