<html>
<head lang="en">
    <meta cahrset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="box-area">
        <header>
            <div class="wrapper">
                <div class="site-title">
                    Web Dev Final Project
                </div>
            </div>
            <nav>
                <a href="#">Home</a>
                <a href="#">Login</a>
                <a href="#">Register</a>
            </nav>
        </header>
        <div class="banner-area">
            
        </div>
    </div>
    <form method="post">
     <legend>Login</legend>
        
    <div>Enter username and password below.</div>
    <p>
        <label>Email</label><br>
        <input type="text" name="email" placeholder="Enter Email"/><br>
    </p>
    <p>
        <label>Password</label><br>
        <input type="password" name="password" placeholder="Enter Password"/><br>
    </p>
    <p>
        <input type="submit"/><br>
    </p>
    </form>
</body>
</html>