.login {
    height: 100vh;
    width: 100%;
    background-color: var(--background-primary);
  }
  
  .login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-secondary);
    width: 40%;
    border-radius: 5px;
    box-shadow: -1em 1em 1em rgb(0, 0, 0, 0.4);
  }
  
  @media (max-width: 900px) {
    .login-container {
      width: 90%;
    }
    .login-input {
      width: 100%;
    }
  }
  
  .login-container h1 {
    width: 100%;
    text-align: center;
    line-height: 0.1em;
    margin: 30px 0 20px;
  }
  
  .login-container p {
    text-align: center;
  }
  
  .login-input {
    padding: 20px 20px;
    width: 90%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .login-input input {
    background-color: rgb(243, 241, 241);
    width: 100%;
    margin: 5px 0 22px 0;
    display: inline-block;
    padding: 12px;
    border: none;
    border-radius: 5px;
  }
  
  .login-input input:focus {
    outline: none;
  }
  
  .login-input button {
    background-color: rgba(18, 248, 198, 0.63);
    border-radius: 5px;
    border-color: transparent;
    width: 100%;
    margin-bottom: 20px;
    padding: 4px;
  }
  
  .login-input button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(133, 231, 210);
  }
  